<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <center><h2>한국어 대화체 맞춤법 교정기</h2></center>
    <center>
        <form action="/" method="post">
            <textarea type="text" name="sentence" cols='50' rows="5"> </textarea>
            <br>
            <input type="submit" value="교정">
        </form>
        <br>
        
        <p> {{ sentence }}</p>
        <p> {{ corrected }}</p>
    </center>

</body>
</html>